# Dependency directories
node_modules/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Yarn lock file
yarn.lock

# Yarn error file
yarn-error.log

# dotenv environment variable file
.env
.vercel
